@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@font-face {
    font-family: 'Steppe';
    src: local('Steppe Regular'), local('Steppe-Regular'),
        url('../Fonts/Steppe-Regular.woff2') format('woff2'),
        url('../Fonts/Steppe-Regular.woff') format('woff'),
        url('../Fonts/Steppe-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.steppe {
    font-family: 'Steppe';
}